<hr />
<p>
    The Oxford EJRA Group:
    <ul>
        <li>
            is open to all Oxford University staff
        </li>
        <li>
            provides information about the effects of the EJRA
        </li>
        <li>
            wants to change how the EJRA operates
        </li>
    </ul>
</p>
<p>
    EJRA - an Employer-Justified Retirement Age.
    This website explains what the EJRA is, why it matters to you, and what you can do to help us change it. This is an open and informal group and our individual opinions ranging from those who want the EJRA to be reformed to those seeking its abolition.
    What brings us together is our experience of the EJRA.
</p>
@*<p>
    We also believe that the current unsatisfactory situation has arisen through poor governance, and that there needs to be an open debate on how the University deals with retirement, and the implications arising from this.
</p>*@
