<h4>
    The <a href="@Url.Action("EJRAMotion", "Home")" class="inline-link">motion</a> has four parts:
</h4>

<div class="panel-group" id="accordionMotion">
    <div class="panel noborder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionMotion" data-target="#motionSuspend">
            <h5 class="panel-title accordion-toggle">
                <strong>Suspend</strong> at once the current EJRA regime
            </h5>
        </div>
        <div id="motionSuspend" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    This EJRA is unlawful as determined by the University Appeal Court in the judgment:<br />
                    <strong>'The EJRA as a scheme including the age of 67 is not objectively justified as required by law.'</strong>
                </p>
                <p>
                    Any procedure found, even by an internal inspection, to breach the Law should be suspended. This judgment was by a High Court judge: distinguished, independent, disinterested and objective.
                </p>
                <p>
                    Dismissal under an unlawful policy risks costly litigation by those dismissed and reputational damage.  Suspension limits the University’s further risk.  Suspension of current procedure has no implications as to whether the University continues to have some form of EJRA
                </p>
            </div>
        </div>
    </div>
    <div class="panel noborder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionMotion" data-target="#motionSupplement">
            <h5 class="panel-title accordion-toggle">
                <strong>Supplement</strong> the Review Panel
            </h5>
        </div>
        <div id="motionSupplement" class="panel-collapse collapse">
            <div class="panel-body">
                Add five members of Congregation to the Review Panel - <em>Accepted by Council</em><br />
                This widens the  perspectives in drafting a new retirement policy
            </div>
        </div>
    </div>
    <div class="panel noborder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionMotion" data-target="#motionSpeed">
            <h5 class="panel-title accordion-toggle">
                <strong>Speed</strong> the Review Panel
            </h5>
        </div>
        <div id="motionSpeed" class="panel-collapse collapse">
            <div class="panel-body">
                Panel to report by January 2017 - <em>Accepted by Council</em><br />
                This speeds the decision on a new retirement policy
            </div>
        </div>
    </div>
    <div class="panel noborder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionMotion" data-target="#motionShare">
            <h5 class="panel-title accordion-toggle">
                <strong>Share</strong> legal advice regarding the EJRA
            </h5>
        </div>
        <div id="motionShare" class="panel-collapse collapse">
            <div class="panel-body">
                Congregation, as the sovereign body in the University, has the right to see this advice. There can be safeguards against spread of this information outside Congregation.
            </div>
        </div>
    </div>
</div>
