<h4>Council claims that:</h4>
<div class="panel-group" id="accordionCouncil">
    <div class="panel noborder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionCouncil" data-target="#council-1">
            <h5 class="panel-title accordion-toggle">
                The Appeal Court Ruling <small>is binding in only the individual case of Professor Galligan</small>
            </h5>
        </div>
        <div id="council-1" class="panel-collapse collapse">
            <div class="panel-body">
                <p>But the Judge decided the case on general issues of principle not limited to this one case.  Therefore the judgment applies to all cases</p>
            </div>
        </div>
    </div>
    <div class="panel noborder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionCouncil" data-target="#council-2">
            <h5 class="panel-title accordion-toggle">
                The rules for this EJRA have been changed, <small>so the Judge’s criticism of the original scheme no longer applies</small>
            </h5>
        </div>
        <div id="council-2" class="panel-collapse collapse">
            <div class="panel-body">
                <p>But the Judge ruled that the retirement age of 67 was not justified, as required by law, and this age remains in force.  Further, the rule changes have exacerbated rather than solved the problems the Judge pointed out.</p>
            </div>
        </div>
    </div>

    <div class="panel noborder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionCouncil" data-target="#council-3">
            <h5 class="panel-title accordion-toggle">
                Legal advice should remain “privileged” and confidential <small>to Council or its administrators, not revealed to members of Congregation who might be in dispute with the university</small>
            </h5>
        </div>
        <div id="council-3" class="panel-collapse collapse">
            <div class="panel-body">
                <p>But if Congregation is the sovereign body, all members, whether or not in dispute with the university, are entitled to the benefit of legal advice on a matter of university policy:</p>
                <ul>
                    <li>
                        The administration wrongly claim that legal advice concerning the legality of this EJRA is privileged and therefore should not be disclosed to Congregation. Privilege does not apply here.  
                        On a matter of general policy, of great importance to the University community, Council, the executive body of the University, cannot claim legal  privilege against the Congregation, the legislative and sovereign body of the University
                    </li>
                    <li>
                        No one suggests all members of Congregation should be supplied with the legal advice. 
                        Various, established ways are open for the responsible disclosure of the general content of the advice to Congregation or a representative group of Congregation
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel noborder">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionCouncil" data-target="#council-4">
            <h5 class="panel-title accordion-toggle">
                An EJRA is required in order to achieve the aims <small>of increased diversity, gender balance, refreshment of the workforce and inter-generational fairness</small>
            </h5>
        </div>
        <div id="council-4" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    But this is irrelevant to the issue: <strong>this</strong> EJRA is unlawful.  The Judge ruled that this EJRA is not a proportionate i.e. legal, way to achieve these aims
                </p>
                @*<ul>
                    <li>
                        But this is irrelevant to the issue: <strong>this</strong> EJRA is unlawful.  The Judge ruled that this EJRA is not a proportionate i.e. legal, way to achieve these aims.
                    </li>
                    <li>                        
                        See <a class="inline-link" href="http://www.admin.ox.ac.uk/personnel/hrinfoteam/staffing-data/staffingfigures/figures/" target="_blank">the turnover figures here</a> for 2014-5 retirements as a result of this EJRA.
                        @*So this EJRA makes almost no contribution to these aims anyway
                    </li>
                </ul>*@
            </div>
        </div>
    </div>

</div>

