<script type="text/javascript">

    function CheckSentMessage(e)
    {
        if (!e.responseJSON.sent) {
            alert("Error sending message");
            return false;
        }
        alert("Message sent");
        $("#MemberMessage").val("");
    }

</script>

@{
    ViewBag.Title = "Contact form";
}
@model ChristmasTwo.Domain.ContactMessage

<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="page-header">
            <h2>Contact <small> form</small></h2>
        </div>

        @using (Ajax.BeginForm("SendContactMessage", "Home",
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnComplete = "CheckSentMessage"
            }
            , new { id = "ContactMessageForm" }
            ))
        {
            <div class="form form-horizontal">

                <!-- Name -->
                <div class="form-group">
                    <label class="editor-label control-label col-md-4">Name</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.MemberName)
                    </div>
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label class="editor-label control-label col-md-4">EMail</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.MemberEmail)
                    </div>
                </div>
                <!-- Comment -->
                <div class="form-group">
                    <label class="editor-label control-label col-md-4" for="comment">Comment</label>
                    <div class="col-md-5">
                        @Html.TextAreaFor(m => m.MemberMessage)
                    </div>
                </div>
                <!-- Buttons -->
                <div class="form-group">
                    <!-- Buttons -->
                    <div class="col-md-5 col-md-offset-4">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
