
@{
    ViewBag.Title = "Introduction to the EJRA";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>An introduction to the EJRA <small><span class="fa fa-book"></span></small></h2>
            @Html.Partial("HeadingLinks", "1-1")
        </div>
        <h3>The EJRA<small> an overview</small></h3>
        <p>
            The government abolished the default retirement age – the mandatory retirement age which employers could impose on their staff – in 2011, and age discrimination in the workplace is unlawful, although exceptions are allowed if they can be justified on the grounds
            that they are "proportionate means of achieving a legitimate aim". This exception is known as an EJRA - an Employer-Justified Retirement Age. 
        </p>
        <p>
            Oxford University introduced an EJRA in October 2011 which was revised in 2015. The stated aims of the (revised) EJRA Policy are (in summary):
            <ul>
                <li>to safeguard the high standards of the University in teaching, research and professional services</li>
                <li>to promote inter-generational fairness and maintain career progression opportunities</li>
                <li>to refresh the workforce</li>
                <li>to facilitate succession planning</li>
                <li>to promote diversity and equality</li>
                <li>to facilitate flexibility through turnover in the academic-related workforce</li>
                <li>to minimise impact on staff morale</li>
            </ul>
            The EJRA does not apply to grades 1 to 5.
        </p>
        <hr />
        <h3>How the EJRA affects you<small></small></h3>
        <p>
            Anyone on grade 6 or above wishing to continue in post after age 67 can apply to do so but would only succeed if various demanding criteria were satisfied. The process to apply for an extension beyond the EJRA is bureaucratic, complex and lengthy.
        </p>
    </div>
</div>

