
@{
    ViewBag.Title = "EJRA Press";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>EJRA press coverage <small>and snippets<span class="fa fa-stop-circle"></span></small></h2>
            @Html.Partial("HeadingLinks", "2-5")
        </div>
        <h3>National press coverage <small></small></h3>
        <p>Academic retirement and the EJRA has appeared in the national press</p>
        <ul>
            <li>
                <a href="https://www.thetimes.co.uk/article/old-limpet-academics-challenge-oxford-over-forced-retirement-30k8bbjq8" class="inline-link" target="_blank">The Times</a> Academics challenge Oxford over forced retirement
            </li>
            <li>
                <a href="https://www.thetimes.co.uk/article/oxford-academics-should-be-allowed-to-teach-beyond-67-lh35cn2mw" class="inline-link" target="_blank">The Times Thunderer</a> Oxford academics should be allowed to teach beyond 67
            </li>
            <li>
                <a href="http://www.telegraph.co.uk/news/2017/06/01/oxford-dons-challenge-retirement-age-rule/" class="inline-link" target="_blank">The Telegraph</a> Oxford dons challenge retirement age rule
            </li>
            <li>
                <a href="https://www.theguardian.com/higher-education-network/2017/jun/02/why-dont-we-value-academics-age-and-experience" class="inline-link" target="_blank">The Guardian</a> Why don't we value academics' age and experience? 
            </li>
            <li>
                <a href="https://www.theguardian.com/science/occams-corner/2017/jun/02/should-ageing-academics-be-forced-to-quit" class="inline-link" target="_blank">the Guardian</a> Should ageing academics be forced to quit?
            </li>
            <li>
                <a href="https://www.timeshighereducation.com/news/oxford-academics-challenge-compulsory-retirement-rules" class="inline-link" target="_blank">The Times Higher Education Supplement</a> Oxford academics challenge ‘compulsory retirement’ rules
            </li>
            <li>
                <a href="https://www.timeshighereducation.com/blog/compulsory-retirement-old-fashioned-lost-cause" class="inline-link" target="_blank">The Times Higher Education Supplement</a> Compulsory retirement is an old-fashioned lost cause
            </li>
        </ul>
        <h3>Oddities, experiences and side-effects <small>really</small></h3>
        <p>
            Small, and large things that have, or could have, happened to people as a result of the EJRA
            <ul>
                <li>If you want your mortgage term to run until you are 70, you can: <em>unless</em> you work for Oxford University when your mortgage can only run until you are 68!</li>
                <li>Collaborating with Nobel Laureates is no protection against forced retirement</li>
                <li>If you are seeking a grant for a major project, with significant funding, ensure your PI is not subject to the EJRA (but only if you want to be sucessful)</li>
                <li>If you are 68 or over and want to apply for a post at Oxford University that is grade 8 or higher you can, providing you don't mind being automatically excluded from the shortlist</li>
                <li>If you thought your pension was sorted - with the devaluation of the pension scheme from the end of this month, you’re going to have to work beyond the age of 67 to make ends meet</li>
            </ul>
        </p>
        @*<hr />
            <h3><small></small></h3>
            <p>
            </p>*@
    </div>
</div>

