
@{
    ViewBag.Title = "EJRA Galligan";
}

<div class="row">
    <div class="col-md-11 col-sm-11">
        <div class="page-header">
            <h2>The Appeal of Professor Denis Galligan <small> in the Oxford University Court of Appeal <span class="fa fa-stop-circle"></span></small></h2>
            @Html.Partial("HeadingLinks", "2-2")
        </div>
        <h3>Briefly<small></small></h3>
        <p>
            Following the introduction of the EJRA academics wishing to continue in post after age 67 could apply to do so but would only succeed if various demanding criteria were satisfied. 
            Denis Galligan was initially denied this extension but he appealed and won his case, and has therefore automatically remained in his academic position.
        </p>
        <p>
            The ruling in this case, and how the University has apparently ignored the consequences, is covered in the <a href="@Url.Action("EJRAMotion", "Home")">preamble</a> to the motion to congregation.
            An article by Denis Galligan about the case, with an introductory editorial, was published in the <a href="@Url.Content("~/Content/local/OM20150H355.PDF")" class="inline-link" target="_blank">Oxford Journal, Noughth Week Hilary Term 2015.</a>
</p>
        @*<hr />
            <h3><small></small></h3>
            <p>
            </p>*@
    </div>
</div>

