
@{
    ViewBag.Title = "Abolish the EJRA";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>Abolish the EJRA <small><span class="fa fa-stop-circle"></span></small></h2>
            @Html.Partial("HeadingLinks", "2-6")
        </div>
        <h3>The case against the Employer-Justified Retirement Age <small>EJRA</small></h3>
        <div>
            <div class="panel-group" id="accordionAbolish">
                <div class="panel noborder">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordionAbolish" data-target="#abolish-1">
                        <h5 class="panel-title accordion-toggle">
                            Background<small></small>
                        </h5>
                    </div>
                    <div id="abolish-1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                It’s true that, in 2011, the EJRA was introduced after the usual consultation process and passed through Congregation without objection. However not many gave the issue much attention – for most people retirement is not of immediate concern and everyone is busy.
                                Those of us who did notice thought that the “exceptions procedure” would be operated sensibly and, given a good case for continuing to work, anyone who wished to would be allowed to continue as usual or perhaps in a part-time capacity. How wrong we were!
                            </p>
                            <p>
                                In 2014 <a href="@Url.Content("~/Content/local/Dame_Janet_Smith_Judgement.PDF")" class="inline-link" target="_blank">Dame Janet Smith</a>, in the University’s Appeal Court, comprehensively demolished every one of the University’s arguments justifying its policy showing thereby that it was unlawful.
                                The revisions made in 2015 did nothing to address the fundamental unfairness identified by Dame Janet.
                                Council and the Administration concealed the judgment and refused to explain, after repeated requests to do so, how the introduction of a requirement to bring in all salary costs, in the revised rules, could be justified on the basis of Dame Janet’s judgment.
                                The Review Group’s report made no comments on the lawfulness of the EJRA.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordionAbolish">
                <div class="panel noborder">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordionAbolish" data-target="#abolish-2">
                        <h5 class="panel-title accordion-toggle">
                            The meetings of Congregation in Trinity term 2017<small></small>
                        </h5>
                    </div>
                    <div id="abolish-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Congregation was asked to approve proposals based on recommendations of the Review Group. However the Review Group’s report has been found to have serious flaws
                                in an <a href="@Url.Content("~/Content/local/Stats report.PDF")" class="inline-link" target="_blank">independent analysis</a> by the University’s own Statistical Consultancy unit.
                                It remains a mystery why this unit was not asked to carry out a proper statistical analysis of the data.
                                The Review Group report claimed that the EJRA was making a “substantial contribution” to achieving its aims, in particular regarding improvements to the proportion of females in Statutory Professor and Associate Professor grades.
                                The Statistical Consultancy however found no evidence in the data to support these claims. None!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordionAbolish">
                <div class="panel noborder">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordionAbolish" data-target="#abolish-3">
                        <h5 class="panel-title accordion-toggle">
                            The Aims of the EJRA policy<small></small>
                        </h5>
                    </div>
                    <div id="abolish-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                No one disputes the legitimacy of the aims; career progression, inter-generational fairness, refreshment, diversity and succession planning.
                                What is disputed is that the EJRA has any significant effect on achieving them.
                            </p>
                            <p>
                                “Evidence” from the United States cannot be used simplistically – conditions regarding pensions and health-care provision, usually linked to employment,
                                are very different in the USA from the UK and its academic population and age distribution has been affected by very different social and political factors than in the UK.
                            </p>
                            <p>
                                Statutory professors represent a numerically small fraction of the academic population and vacancies at this grade are irrelevant to inter-generational fairness.
                                The Statistical Consultancy unit found no evidence that the EJRA has had any effect on gender balance in this grade. The absence of evidence that the EJRA is having an effect is not due to lack of data – it is due to the smallness of the effect it can possibly have!
                                Extending careers by an average of 3 or 4 years, as is the norm indicated by the data, changes the rate of creating vacancies by only 2 to 3%. Such a small change makes no significant difference to opportunities for the “young and talented” aspiring academics, or to improving diversity
                            </p>
                            <p>
                                The EJRA is not<em> “a necessary means to maintain turnover”</em>. The vacancy stream is fed by those leaving for non-retirement reasons, early and/or voluntary retirement.
                                The <em>“brightest and best”</em> can and will continue to compete for the 98% of all vacancies that are not due to the EJRA. A genuine and informed concern for young aspiring academics would address the university’s practices of exploiting them by fixed-term contracts,
                                make effective use of older colleagues to alleviate their teaching loads, and ensure they can work long enough to provide an adequate pension without limiting their working lives by an arbitrary EJRA.
                            </p>
                            <p>
                                The EJRA does not provide a <em>“vital means of improving diversity”</em>. The rate of recruitment is dominated by other causes of vacancies.
                                The change in the rate arising from the EJRA can only be marginal at best (a few percent). The slow trend to improved diversity is a result of longer-term changes in society and has nothing to do with the EJRA.
                            </p>
                            <p>
                                Mandatory retirement hits scientists particularly hard as it can leave postdoctoral researchers without a supervisor with the specific, specialized, expertise relevant to their work.
                                This specialization and the nature of team working in science is less of a problem for those in humanities but they suffer the disadvantage of having more difficulty in raising funds to cover their salary costs
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordionAbolish">
                <div class="panel noborder">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordionAbolish" data-target="#abolish-4">
                        <h5 class="panel-title accordion-toggle">
                            Conclusion<small></small>
                        </h5>
                    </div>
                    <div id="abolish-4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                The EJRA has been operated selectively and the revisions of 2015 have made matters worse, not better.
                                There is no dignity in having to re-apply for one’s own job in a selection process that is biased totally in favour of the employer’s concerns with no balancing with those of the employee that is required by the Equality Act.
                                As pointed out by Dame Janet Smith, it is this selection procedure that makes dismissal inevitably unfair and therefore unlawful. The so-called “improvements” in the revised procedures and recommendations do nothing to address this fundamental point.
                            </p>
                            <p>
                                The amended EJRA will do nothing for diversity or inter-generational fairness.
                                It damages our international competitiveness; causes considerable and needless stress to academics, still operating at world-leading level, by quenching their research;
                                squanders the most valuable resources of experience and expertise and damages the collegiate atmosphere when colleagues are dismissed by small committees composed of people who do not understand or appreciate the worth of their colleagues and even refuse to allow peer-review.
                                It exposes the university to continuing legal challenges and wastes financial resources in defending a policy that has internal flaws and no evidence base.
                            </p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

    </div>
</div>

