
@{
    ViewBag.Title = "EJRA Governance";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>University governance and the EJRA <small><span class="fa fa-stop-circle"></span></small></h2>
            @Html.Partial("HeadingLinks", "2-3")
        </div>
        <h3><small></small></h3>
        <p>
        </p>
        @*<hr />
            <h3><small></small></h3>
            <p>
            </p>*@
    </div>
</div>
