
@{
    ViewBag.Title = "Links to the Oxford University EJRA pages ";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>Links to the Oxford University EJRA pages <small><span class="fa fa-book"></span></small></h2>
            @Html.Partial("HeadingLinks", "1-2")
            
        </div>
        <div>
            <ul>
                <li><a href="http://www.ox.ac.uk/staff/consultations/ejra-review" target="_blank">Results of the EJRA review</a></li>
                <li><a href="http://www.admin.ox.ac.uk/personnel/end/retirement/revisedejra/revaim/" target="_blank">Aims of the Employer-Justified Retirement Age (EJRA)</a></li>
                <li><a href="http://www.admin.ox.ac.uk/personnel/end/retirement/revisedejra/revproc/" target="_blank">Current EJRA Procedure</a></li>
                <li><a href="http://www.admin.ox.ac.uk/personnel/end/retirement/revisedejra/forms/" target="_blank">Model letters and forms</a></li>
                <li><a href="http://www.ox.ac.uk/gazette/2014-2015/4june2015-no5099/" target="_blank">Gazette announcement No.5099</a></li>
                @*<li><a href="" target="_blank"></a></li>*@
            </ul>
        </div>
        
    </div>
</div>

