
@{
    ViewBag.Title = "What the motion is about";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>Why this motion <small>and what it means <span class="fa fa-arrows-alt"></span></small></h2>
            @Html.Partial("HeadingLinks", "3-2")
        </div>
        <h3>What the motion is about<small></small></h3>
        <p>
            The motion proposed relates to the good governance of the University.
            The purpose in bringing the motion is to require the senior administration to apply the legal principles concerning the EJRA, as stated by the University's Appeal Court,
            in a judgement delivered on 1st September 2014.
            In that judgement the Appeal Court ruled that the EJRA is not legally justified.
        </p>
        <p>
            In the year and a half since the Appeal Court judgement, the administration has had ample opportunity to take whatever action is necessary to give effect to the ruling.
            Instead, the administration has taken various measures (outlined below) which seem more to avoid the judgement, and its obvious consequences for the EJRA, than to implement it.
        </p>
        <p>
            Decisions of the Appeal Court are, according to the <em>Statutes</em> of the University, binding on the University, its administration, and its members.
            When the Appeal Court also states a general principle, as in this case, it goes beyond the particular case and is binding on the University.
        </p>
        <p>
            Failure to accept and give effect to the general principle, here the illegality of the EJRA:
            <ul>
                <li>
                    is not only bad administration, but shows disregard for the general principles of the rule of law, and
                </li>
                <li>
                    has grave consequences for the University and its academic staff.
                    To continue to force staff to retire at age 67 through the EJRA, according to the judgement, constitutes unfair dismissal.
                    It is therefore a violation of each member's rights under employment law. Forcing retirement puts the University at risk of mass actions for unfair dismissal.
                </li>
            </ul>
        </p>
        <p>
            Defending the EJRA against challenges within the University, and taking additional legal advice in order to shore-up the scheme, consumes substantial resources.
            The costs to the University in trying to defend the scheme in just one case, the one the subject of the rulings in point, are estimated to have been around £250,000.
        </p>
        <p>
            These are the reasons for proposing the motion. In short:
            <ul>
                <li>
                    to put an end to the notion that the Appeal Court judgement can be ignored,
                </li>
                <li>
                    to apply the general principle stated by the Appeal Court
                </li>
                <li>
                    to restore fairness and lawfulness to the administration and governance of the University, <em>and</em>
                </li>
                <li>
                    to respect the rights of members of academic staff, many of whom have dedicated a life of research and teaching to the good of the University.
                </li>
            </ul>
        </p>
        <hr />
        <h3>What the motion is <em>not</em> about<small></small></h3>
        <p>
            The motion does <strong>not</strong> address the substantive merits and demerits of compulsory retirement.
            Nor does it address the question of whether some other scheme of compulsory retirement might meet the legal requirements.
        </p>
        <p>
            While that question is of pressing concern to many members of staff, and while many of those who have been forced-out are naturally
            keen to recount their own unpleasant experience of the current EJRA, such matters are not relevant to the proposed motion.
            Compulsory retirement, enacted through the EJRA, is a matter upon which opinions differ widely across the University.
            The diversity of opinion will be relevant to the review process proposed by the motion.
        </p>
        <p>
            It is important that these issues, as important as they are, do not become part of the debate.
            They will confuse and obscure the real issue, which is about administration and governance and
            Congregation's constitutional role as the sovereign parliament of the University to which all parts are ultimately accountable.
        </p>
        <hr />
        <h3>The background<small></small></h3>
        <p>
            On 1st September 2014, Dame Janet Smith, a retired Lord Justice of Appeal, in the case of Galligan v. University of Oxford, ruled that the current EJRA is not legally justified.
            Dame Janet ruled that:
            <ul>
                <li>
                    the scheme as a whole is not objectively justifiable, as required by the Equality Act 2010<br />
                    <strong>and</strong>
                </li>
                <li>
                    the procedure for considering whether a member of academic staff may continue beyond the age of 67 is so deeply flawed
                    that any refusal of such a request constitutes unfair dismissal
                </li>
            </ul>
        </p>
        <hr />
        <h3>The administration's response<small></small></h3>
        <h4>What has the administration done in light of the judgement?</h4>
        <p>
            It claims that the judgement applies only to the particular case, that is, Galligan v. University of Oxford.
        </p>
        <p>
            Is there any basis for this claim in the Statutes under which the Appeal Court is established and its powers conferred?
            The answer is NO. Dame Janet Smith expressly states she has decided the issue as a matter of principle.
        </p>
        <p>
            In addition, it is a fundamental feature of English law that the principles implicit in a court's decision in a particular case apply generally.
            Which means in this context that a principle stated by the Appeal Court of a principle concerning the legality of the EJRA applies generally
        </p>
        <p>
            This feature of English law is reinforced here by the judge's express statement that she is formulating a general principle <em>unrelated to the particular facts of the appellant’s case</em>.
        </p>
        <h4>The administration subsequently introduced changes to the procedure for extension</h4>
        <p>
            These were adopted without reference to, or discussion by, Congregation.
            More importantly, the new procedures do not meet the legal requirements stipulated by the Appeal Court.
        </p>
        <h4>The administration set-up a review panel</h4>
        <p>
            This review panel that will not report until sometime in the 2016-7 academic year, most likely towards the end of that year.
            Three years will by then have elapsed from the time of the Appeal Court judgement.
            During that period, more than 100 members of staff will have been forced to retire, some willingly, but many against their wishes.
            This is in addition to the many others forced to retire in 2012 and 2013.
        </p>
        <p>
            After a year and a half, Congregation has not been consulted about the review; nor does it have any idea how the review is proceeding or, in particular,
            whether the rulings of the Appeal Court are being applied.
            The lack of information and transparency is cause enough for Congregation to require a new review body and to insist on its own representatives being members.
        </p>
        <p>
            Considering the fatal flaws in the current scheme, Congregation cannot be confident that a review conducted by the existing committee will meet the legal requirements.
            For that reason, the motion calls for a suspension of the EJRA, a fresh start with a new review body, operating with a fixed timetable,
            on which Congregation is properly represented by an additional five of its members, who will report and be accountable to Congregation.
        </p>
        <hr />
        <h3>The motion<small></small></h3>
        <p>
            The purpose of these notes is to help members of Congregation, as the final authority within the University, in understanding the point of the motion and the context in which it occurs.
            The principle resolution is that the judgement of the Appeal Court be respected as establishing a principle of law of general application within the University.
            The other specific resolutions then follow from that general principle.
        </p>
        <p>
            Remember above all that the motion is about the good governance of the University. Being a member of Congregation carries both powers and responsibilities.
            The most fundamental responsibility is to make sure that the administration of the University meets the highest standards and respects the law.
            That responsibility applies whatever your views may be on the merits of compulsory retirement.
        </p>
    </div>
</div>

