@{
    ViewBag.Title = "EJRA FAQs";
}

<div class="row">

    <div class="col-md-11 col-sm-11">
        <div class="page-header">
            <h2>Frequently asked questions <small>on the EJRA motion to Congregation <span class="fa fa-arrows-alt"></span></small></h2>
            @Html.Partial("HeadingLinks", "3-5")
        </div>

        <div class="panel-group" id="accordionFAQ">
            <div class="panel noborder">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#faq-1">
                    <h5 class="panel-title accordion-toggle">
                        Is this about having a mandatory retirement age? <small></small>
                    </h5>
                </div>
                <div id="faq-1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            No. The motion applies only to the current EJRA and its current process for exemption.  Those behind the motion have a range of opinions regarding the EJRA, from those seeking its reform to those seeking its abolition.  
                            The motion calls for release (under controlled, safeguarded conditions) of all legal advice on the EJRA to Congregation members and for speeding up the review of the current policy.  
                            It also calls for adding five Congregation members to the review panel and for suspension of the <em>current</em> EJRA until the review is complete. 
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="panel noborder">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#faq-2">
                    <h5 class="panel-title accordion-toggle">
                        Isn’t the current EJRA already undergoing review? <small></small>
                    </h5>
                </div>
                <div id="faq-2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            It is.  The motion requests suspension of the current EJRA while the review is ongoing in light of a 2014 ruling which found the current EJRA unlawful and discriminatory.  
                            Employees dismissed under an unlawful policy would have grounds to sue the University; suspension of the current policy limits such a legal risk.  
                            The motion also seeks to speed the Review’s completion (limiting the period of suspension) and to broaden the perspectives on the Review panel.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="panel noborder">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#faq-3">
                    <h5 class="panel-title accordion-toggle">
                        What is the significance of the 2014 Appeal Court judgment? <small></small>
                    </h5>
                </div>
                <div id="faq-3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The Judgment found for the plaintiff, not on the details of his case, but on the grounds that the entire system was unlawful.  
                            For these reasons, the motion calls on University Administration to be open about the details of the ruling.  
                            It has so far refused to do so even though the judge and plaintiff have waived confidentiality.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="panel noborder">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#faq-4">
                    <h5 class="panel-title accordion-toggle">
                        Why are there different interpretations of the implications of the 2014 ruling? <small></small>
                    </h5>
                </div>
                <div id="faq-4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The University Administration claims that the appeal court findings ‘do not have the status of the findings of an external court of law,’ and bind them only in the case of the individual plaintiff.  
                            However, the ruling stated that it addressed the legality of the current EJRA policy, rather than the individual case brought before the judge.  It was against the legality of the process as a whole.  
                            The Court has authority to do so under the Statutes of the University.  Moreover, the Administration could have challenged the ruling in the national courts; it did not do so. 
                            In short, we have a ruling from the University's own Appeal Court that the scheme is unlawful.
                        </p>
                    </div>
                </div>
            </div>
       
            <div class="panel noborder">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#faq-5">
                    <h5 class="panel-title accordion-toggle">
                        Weren’t substantive changes made to the exemptions procedure following the 2014 ruling, meaning that the ruling is no longer relevant? <small></small>
                    </h5>
                </div>
                <div id="faq-5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The retirement age of 67 was found to be not objectively justified as required by law – i.e. illegal.  
                            The whole scheme was found to be not proportionate as a way to achieve the EJRA’s aims; the Judge also found that the procedure for judging appeals for extension of time in post was too stringent to be fair.  
                            In response to the ruling, the exemptions procedure was made still more stringent, while the remainder of the EJRA process, including the retirement age of 67, has remained in place.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="panel noborder">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#faq-6">
                    <h5 class="panel-title accordion-toggle">
                        I’m a junior scholar.  Why should I care about the current EJRA? <small></small>
                    </h5>
                </div>
                <div id="faq-6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            People are living longer than in previous generations, while pensions are also increasingly less generous.  As a result, 70 is the earliest age most could expect to retire in order to have a viable pension.  
                            In particular, the University’s pension scheme (USS) is decreasing for younger scholars and those entering the workforce later.  At the same time, having older scholars working longer means that they will put more in and take less out of the pot that will pay for younger scholars’ pensions.  
                            Likewise, the ability to negotiate a mortgage is greater the more years you are guaranteed to be able to work.  
                            As a result, the current EJRA is particularly worrisome for those from non-traditional academic backgrounds, or who have taken career breaks, or who have no other source of income apart from their academic job.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="panel noborder">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#faq-7">
                    <h5 class="panel-title accordion-toggle">
                        Doesn’t the current EJRA promote diversity and inter-generational fairness in Oxford’s workforce? <small></small>
                    </h5>
                </div>
                <div id="faq-7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            There is no evidence to suggest that Oxford’s workforce has become more diverse as a result of its EJRA.  
                            Indeed, most other universities, which do not have an EJRA, have a more diverse workforce than Oxford, and US universities ‘diversified’ faster after the US abolished mandatory retirement in 1987 than they did before.  
                            Studies of countries in which a mandatory age of retirement was introduced find no evidence that the practice resulted in the hiring of junior scholars.
                        </p>
                    </div>
                </div>
            </div>
       
            <div class="panel noborder">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#faq-8">
                    <h5 class="panel-title accordion-toggle">
                        Don’t other universities have some sort of EJRA? <small></small>
                    </h5>
                </div>
                <div id="faq-8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Cambridge has one, and St Andrew’s is adopting one (against the advice of its union).  No other British university has an EJRA.  
                            Recent statements about Imperial College’s practice of a fixed retirement age have no basis in fact.  No US university has an EJRA.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="panel noborder">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordionFAQ" data-target="#faq-9">
                    <h5 class="panel-title accordion-toggle">
                        Won’t releasing legal advice make the University of Oxford vulnerable to media attention and to lawsuits? <small></small>
                    </h5>
                </div>
                <div id="faq-9" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            The motion tries to protect against lawsuits and resulting media attention, by ending unlawful practices that leave the university open to them.  
                            It is the practices, not the legal advice, that would create vulnerability.  
                            The legal advice can be made available only under carefully controlled conditions.
                        </p>
                    </div>
                </div>
            </div>
        </div> @*end of accordion*@

    </div> @*end of col*@ 
</div>