
@{
    ViewBag.Title = "How to support the motion";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>How to support the motion <small><span class="fa fa-arrows-alt"></span></small></h2>
            @Html.Partial("HeadingLinks", "3-3")
        </div>
        <h3>Sign the motion<small></small></h3>
        <p>
            If you would like to sign the motion, then:
            <ul>
                <li>
                    Download a copy of the motion <a href="@Url.Content("~/Content/local/FINAL_Congregation_motion_for_signature.pdf")" target="_blank" class="inline-link">from here</a> and sign it
                </li>
                <li>
                    Once signed, your copy of the motion should be sent (or delivered) to:
                    <address>
                        <strong>Peter P Edwards</strong><br />
                        Inorganic Chemistry Laboratory<br />
                        South Parks Road<br />
                        OXFORD OX1 3RQ
                    </address>
                    It must be received by 5pm on Friday 22 April
                </li>
                <li>
                    You can also send signed copies to Felicity Burchett at the University Offices, Wellington Square by noon on Monday 25 April
                </li>
            </ul>
            We are extremely grateful for your support in this most important matter of good governance of the University
        </p>
        <hr />
        <h3>Attend the meeting of Congregation<small> to be held on Tuesday 17 May (week 4)</small></h3>
        <p>
            <em>Details to follow</em>
        </p>
    </div>
</div>

