
@{
    ViewBag.Title = "Motion to Congregation ";
}

<div class="row">
    <div class="col-md-11 col-sm-11">
        <div class="page-header">
            <h2>Good Governance of the University in Relation to the Administration of the EJRA Scheme <small><span class="fa fa-arrows-alt"></span></small></h2>
            @Html.Partial("HeadingLinks", "3-1")
        </div>
        <h3>The Motion<small> to Congregation</small></h3>
        <div>
            <p>
                The Oxord EJRA Group put the following motion to Congregation at the meeting on Tuesday 17 May (week 4):
                <p>
                    <strong>Congregation resolves:</strong>
                </p>
                <ol>
                    <li>
                        That the EJRA be suspended forthwith pending the publication of the findings of the EJRA Review Committee to all members of the University.
                    </li>
                    <li>
                        That the EJRA Review Committee now be afforced with at least five members representing and answerable to Congregation.
                    </li>
                    <li>
                        That the afforced Committee report its findings to Congregation by 1 January 2017.
                    </li>
                    <li>
                        That Council and all University committees promptly disclose to Congregation all legal advice taken regarding the EJRA.
                    </li>
                </ol>
            </p>
        </div>
        <hr />
        <h3>
            The rationale for the motion
        </h3>
        <p>
            The Preamble to this motion::
            <ol>
                <li>
                    Compliance with the highest standards of good governance is essential for the advancement of the common purposes of the University, and to the flourishing and well-being of all its members.
                    While day-to-day governance is delegated to the administration, Congregation, the Sovereign Parliament of the University, has the ultimate responsibility to ensure that the highest standards of good governance are met.
                </li>
                <li>
                    Congregation is asked to consider recent developments concerning the scheme of compulsory retirement, known as the EJRA (‘Employer Justified Retirement Age’)
                    and to determine whether the administration of this scheme meets the expected highest standards of good governance.
                </li>
                <li>
                    On 1st September 2014, the Appeal Court of the University of Oxford, constituted by Dame Janet Smith, retired Judge of the High Court and then Court of Appeal of England and Wales,
                    in an appeal Galligan v. University of Oxford, brought by D. J. Galligan, Professor of Socio-Legal Studies, against unfair dismissal on grounds of age, ruled:
                    <ul class="list-unstyled">
                        <li>
                            <em>Regarding the EJRA as a whole:</em>
                            <ul>
                                <li>
                                    The EJRA as a scheme, including the policy of imposing retirement at 67, cannot be objectively justified [para 68].
                                </li>
                                <li>
                                    <em>“The aims and objectives which could justify any compulsory retiring age (“refreshment” and succession planning) have not been shown to be weighty”</em> [para 68].
                                </li>
                            </ul>
                        </li>
                        <li>
                            <em>The Judge further ruled regarding the current procedure for extension beyond age 67:</em>
                            <ul>
                                <li>
                                    The procedure is <em>“fundamentally unacceptable as a means of deciding whether someone should be dismissed”.</em>
                                    Rejection of an application under this procedure <em>“could never amount to a potentially fair reason for dismissal”</em>: [para 100].
                                </li>
                                <li>
                                    Requiring an established employee <em>“to demonstrate that he </em>(or she) <em>is indispensable or be dismissed is an inevitably unfair dismissal”</em>: [para 101].
                                </li>
                            </ul>
                        </li>
                        <li>
                            [<em>See </em> Oxford Magazine, No. 355, Noughth Week, Hilary term 2015, p 4.]
                        </li>
                    </ul>
                </li>
                <li>
                    The Judge ruled that the University Appeal Court has jurisdiction to determine whether the EJRA was justified in accordance with the <em>Equality Act 2010</em>.
                    Dame Janet further ruled that she had decided the appeal <em>“…on issues of principle unrelated to the particular facts of the appellant’s case”</em>: [para 101].
                </li>
                <li>
                    Despite the Appeal Court’s ruling <em>“… on issues of principle unrelated to the particular facts of the appellant’s case. ”</em>,
                    the judgement that the University of Oxford EJRA cannot be objectively justified, has not been implemented by the University.
                    Furthermore, the administration:
                    <ul>
                        <li>
                            Has continued to apply the EJRA and ignored the fact that the judgement was decided on issues of principle;
                        </li>
                        <li>
                            Has not re-examined properly the legal standing of the EJRA in light of the ruling; the review promised by the administration is not due to report until the academic year 2016-17;
                        </li>
                        <li>
                            Has made significant changes – not “minor editing” as is claimed—to the Aims of the EJRA procedure;
                        </li>
                        <li>
                            Has insisted that the Appeal Court judgement is ‘confidential’ to the University (Professor Galligan has already waived his right to confidentiality);
                        </li>
                        <li>
                            Has withheld from Congregation and other staff the principal rulings of the Appeal Court
                        </li>
                        <li>
                            Has attempted to minimize the effect of the judgement by misleadingly and inaccurately referring to the Appeal Court’s rulings as only “comments” (Gazette, September 2014).
                        </li>
                    </ul>
                </li>
                <li>
                    The consequences for the University of the administration’s continuing to operate the EJRA and failing to implement the judgement of the University Appeal Court are:
                    <ul>
                        <li>
                            The University therefore persists  in a practice that has been ruled to be unlawful
                        </li>
                        <li>
                            The University therefore violates a fundamental duty to act in accordance with the rule of law; 
                        </li>
                        <li>
                            Since 2012, members of academic staff have been and are being forced to retire on grounds that have not been shown to be objectively justified, as required by law; 
                        </li>
                        <li>
                            The University is at risk of actions for unfair dismissal;  
                        </li>
                        <li>
                            The reputation of the University for probity and high standards of governance may be at risk;
                        </li>
                        <li>
                            Substantial sums of money have been spent and are likely to be spent by the University in future in defending the EJRA against legal challenges
                        </li>
                        <li>
                            The University’s ability to recruit leading academics is jeopardized, due to its having more restrictive employment practices than competing universities
                        </li>
                    </ul>
                </li>
            </ol>
        </p>
    </div>
</div>

