
@{
    ViewBag.Title = "EJRA USA";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>USA academia and retirement <small><span class="fa fa-stop-circle"></span></small></h2>
            @Html.Partial("HeadingLinks", "2-4")
        </div>
        <h3>The USA experience<small></small></h3>
        <p>
            Since January 1, 1994, the day that the amended Age Discrimination in Employment Act forbade higher education institutions from imposing a mandatory retirement age on faculty, 
            tenured professors’ lifetime appointments thenceforth permitted them to work as long as they wished, 
            making when they retired into a matter of personal choice rather than of university policy.
        </p>
        <p>
            This document, <a href="@Url.Content("~/Content/local/Chapter5.pdf")" target="_blank" class="inline-link">Chapter 5, Moving into Retirement</a> is taken from 
            "The Arc of the Academic Research Career:  Issues and Implications for U.S. Science and Engineering Leadership: Summary of a Workshop" and discusses the 
            effect of the absence of a mandatory retirement age.
        </p>
        <p>
            This article <a href="http://oxfordstudent.com/2011/05/19/%E2%80%9Cequality-and-diversity-are-not-academic-values%E2%80%9D/" target="_blank" class="inline-link"> "Equality and diversity are not academic values"</a> from OxfordStudent also raises some interesting points
        </p>
        @*<hr />
            <h3><small></small></h3>
            <p>
            </p>*@
    </div>
</div>

