
@{
    ViewBag.Title = "The EJRA and other Universities";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>The EJRA and other Universities <small><span class="fa fa-book"></span></small></h2>
            @Html.Partial("HeadingLinks", "1-3")
        </div>
        <p>
            Cambridge University does not have a generic EJRA – their EJRA applies only to established posts which become available through retirement. It arrived at the decision after discussions with various stakeholders in the university, including the representative body for academics, which gave its seal of approval
        </p>
        <p>
            The University of St Andrews has adopted an EJRA policy for 2017 and onwards. It applies to all staff and is opposed by Unison.
        </p>
        <p>
            As far as we are aware no other UK university has an EJRA
        </p>
    </div>
</div>

