
@{
    ViewBag.Title = "Spread the word";
}

<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="page-header">
            <h2>Spread the word <small><span class="fa fa-info"></span></small></h2>
            @Html.Partial("HeadingLinks", "4-2")
        </div>
        <h3>Publicise the Oxford EJRA Group<small></small></h3>
        <p>
            Please tell anyone you think might be interested about this website (www.OxfordEjraGroup.net)
        </p>
        <p>
            Follow us on <a href="https://twitter.com/OxfordEJRAGroup" class="blightblue" target="_blank"><i class="fa fa-twitter"></i></a> Twitter. We are <i class="fa fa-twitter lightblue"></i> @@OxfordEJRAGroup, retweet us
        </p>

        @*<hr />
            <h3><small></small></h3>
            <p>
            </p>*@
    </div>
</div>

