
@{
    ViewBag.Title = "Support the Oxford EJRA Group";
}

<div class="row">
    <div class="col-md-11 col-sm-11">
        <div class="page-header">
            <h2>Support Us <small><span class="fa fa-info"></span></small></h2>
            @Html.Partial("HeadingLinks", "4-1")
        </div>
        <h3>Ways in which you can support us<small></small></h3>
        <p>
            You can support the Oxford EJRA Group in the following ways:
            <ul>
               <li>
                    Send an email to the <a href="mailTo:louise.richardson@admin.ox.ac.uk" class="inline-link"> Vice Chancellor</a>, Professor Louise Richardson
                </li>
                <li>
                    Ask <a href="mailTo:ewan.mckendrick@admin.ox.ac.uk" class="inline-link">The Registrar</a>, Professor Ewan McKendrick for the complete judgement of the Appeal Court (Galligan v Oxford University)
</li>
                <li>
                    Help to spread the word about the Oxford EJRA Group
                </li>
            </ul>
        </p>
        @*<hr />
            <h3><small></small></h3>
            <p>
            </p>*@
    </div>
</div>
